<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Medical Project</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>计算机医疗项目</h1>
    </header>
    <main>
        <section>
            <h2>Start objection detection with YOLOv8 here.</h2>
            <button onclick="window.location.href='/gradio'">Visit gradio interface</button>
        </section>
    </main>
</body>
</html>